.menu {
  position: absolute;
  width: 95vw;
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.menu-right ul {
  margin-right: 3vw;
  display: flex;
  color: rgb(231, 231, 236);
  list-style: none;
}

.menu-right ul li {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  font-size: 20px;
  padding: 10px;
  margin-top: 50px;
  margin-right: 40px;
}

.menu-right .choose {
  cursor: pointer;
}

.menu-right ul li:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.disabled {
  cursor: not-allowed;
}
