.waiting {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 40px;
}

.waiting h1 {
  padding-bottom: 18px;
}

.waiting p {
  padding-top: 24px;
  font-size: 18px;
}
