.buy-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #feefee;
}

.buy {
  display: flex;
  justify-content: space-between;
}

.buy-left {
  flex: 1;
}

.buy-form {
  flex: 2;
}

.buy-right {
  flex: 1;
}

.buy-bg {
  width: 100%;
  max-width: 650px;
  padding: 90px 110px;
  border-radius: 10px;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #141625
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.readonly {
  cursor: not-allowed;
}

.buy-form label {
  margin-bottom: 7px;
}

.buy-form input {
  margin-bottom: 18px;
}

.buy-form button {
  margin-top: 18px;
}

.buy-form small {
  cursor: pointer;
}
