.price-list {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
}

.price-list h1 {
    margin-bottom: 50px;
}

.price-list ul {
    margin-left: -32px;
    list-style: none;
    text-align: center;
}

.price-list li {
    font-size: 17px;
    margin-top: 3px;
}