.head {
  padding: 35px 10px;
  padding-left: 2vw;
  display: flex;
  align-items: center;
}

.head p {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: wavy;
  margin-bottom: 4px;
  padding-bottom: 0;
  font-size: 30px;
  color: #eee;
  letter-spacing: 1px;
}

.head span {
  font-size: 20px;
  color: rgb(216, 214, 214);
  letter-spacing: 0.5px;
}

.head img {
  margin-right: 12px;
}

.player-info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
