.terms {
    color: #fff;
    padding: 190px 16vw 100px 16vw;
}

.terms-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #141625
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.terms h1 {
    margin: 70px 0 20px 0;
}

.terms h2 {
    margin: 20px 0 45px 0;
}

.terms p {
    padding: 10px 0;
}

.terms ul {
    color: #EEE;
    list-style: none;
    padding: 0 7vw;
}

.terms ul li {
    margin-bottom: 1px;
}

.terms b {
    color: #ff6961;
    margin-right: 3px;
}

.terms .contact {
    color: #fff;
    margin: 40px 0;
    text-align: center;
}
