.footer {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 1.14rem;
  font-weight: normal;
  color: rgba(202, 205, 239, 0.8);
  margin-top: 2.8rem;
  margin-bottom: 3.2rem;
  text-decoration: none;
}

.footer p {
  text-align: center;
  font-weight: normal;
  color: rgba(202, 205, 239, 0.8);
  text-decoration: none;
}

a:hover {
  color: rgba(202, 205, 239, 0.8);
}
