$font: "Roboto", sans-serif;

html {
  box-sizing: border-box;
}

.container-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #141625
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container ul,
li {
  margin: 0;
  padding: 0;
}

.container li {
  list-style: none;
}
.container p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.container .a {
  text-decoration: none;
}

.container input {
  border-style: none;
  background: transparent;
  outline: none;
}

.container button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

// some basic page styles
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// for demo
.container h1.demo {
  text-align: center;
  font-size: 1.23rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #f5f6ff;
}

.container a.demo {
  text-align: center;
  font-size: 1.14rem;
  text-decoration: none;
  font-weight: normal;
  color: rgba(202, 205, 239, 0.8);
  margin-bottom: 3rem;
}

.demo-flex-spacer {
  flex-grow: 1;
  flex: 1;
}

.demo {
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1600px;
  padding: 60px 0 0 0;
}

.container-top {
  flex: 1;
}

.container-bg {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 165px 8vw 200px 8vw;
}

.container h1 {
  padding-bottom: 13px;
  color: #fff;
  font-size: 39px;
}

.container p {
  padding-bottom: 20px;
  color: #fff;
  filter: brightness(85%);
  font-size: 18px;
}

// colors
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881a1;
$input-text-active: #bfd2ff;

// gradient animation
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.container form {
  max-width: 400px;
  width: 100%;
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0 2rem 0;
  background: $input-background;
  height: 70px;
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(
      to right,
      #b294ff,
      #57e6e6,
      #feffb8,
      #57e6e6,
      #b294ff,
      #57e6e6
    );
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}

.webflow-style-input input {
  text-align: center;
  flex-grow: 1;
  color: $input-text-active;
  font-size: 1.2rem;
  line-height: 2rem;
  vertical-align: middle;
  &::-webkit-input-placeholder {
    color: $input-text-inactive;
  }
}

.webflow-style-input button {
  color: $input-text-inactive;
  font-size: 2rem;
  line-height: 1.55rem;
  vertical-align: middle;
  transition: color 0.25s;
  &:hover {
    color: $input-text-active;
  }
}

.terms {
  margin-bottom: 25px;
}

.terms p {
  font-size: 22px;
  color: rgb(225, 225, 238);
}

.hover-this {
  cursor: pointer;
}

.terms p:first-child {
  margin: 0;
}

@media only screen and (max-width: 1600px) {
  .container-bg {
    height: 485px;
  }
}

@media only screen and (max-width: 1000px) {
  .container-bg {
    height: 400px;
  }

  .container a.demo {
    font-size: 1rem;
  }
}
