$font: "Roboto", sans-serif;

html {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.offers-container {
  margin: 0 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-content {
  margin-top: 200px;
  border-radius: 10px;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #141625
  );
  padding: 25px 85px 85px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.offer-wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.offer {
  margin-bottom: 12px;
  margin: 8px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.logout {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.logout span {
  margin-right: 18px;
  font-size: 22px;
  color: rgb(216, 214, 214);
}

.profile i {
  font-size: 36px;
  color: rgb(216, 214, 214);
}

.header-bg {
  position: absolute;
  z-index: -1;
  background: url(https://i.imgur.com/jwEJVWY.png);
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: blur(7px);
  opacity: 0.4;
}
